Preparing Data

<p> We will be combining data from three files </p>
<ol>
<li> We will select name, artist, genre, and number of grammy awards from grammySongs_1999-2019.csv. This information is not immediately available from the sheet, so we will group by artist and name and count the number of grammys each song has won. </li>
<li> We will select artist, name, peak position, average position, and weeks on chart from billboardHot100_1999-2019. </li>
<li> We will select artist, name, energy, danceability, tempo, and valence from data/songAtrributes_1999-2019.csv. </li>
</ol>

In [23]:
import pandas as pd
import numpy as np

In [2]:
grammyAwards = pd.read_csv("data/grammySongs_1999-2019.csv")
# grammyAwards = grammyAwards[['Name', 'Artist', 'Genre', 'GrammyAward']]
grammyAwards = grammyAwards[['Name', 'Artist', 'GrammyAward']]
grammyAwards = grammyAwards.groupby(['Name', 'Artist']).count().reset_index()
grammyAwards = grammyAwards.applymap(lambda s: s.upper() if type(s) == str else s)
print(grammyAwards.shape)
grammyAwards.head(5)

(366, 3)

                       Name                   Artist  GrammyAward
0  'TIL SUMMER COMES AROUND              KEITH URBAN            1
1                 24 FRAMES  ASON ISBELL, SONGWRITER            1
2                 24K MAGIC               BRUNO MARS            1
3            500 MILES HIGH     CHICK COREA, SOLOIST            1
4               99 PROBLEMS                    JAY-Z            1

In [3]:
billboardHot100 = pd.read_csv('data/billboardHot100_1999-2019.csv')
billboardHot100 = billboardHot100[['Artists', 'Name', 'Peak.position', 'Weeks.on.chart']]
billboardHot100['Weeks.on.chart'] = billboardHot100['Weeks.on.chart'].fillna(1)
billboardHot100['Peak.position'] = billboardHot100['Peak.position'].fillna(100)
# billboardHot100.groupby(by=['Artist', 'Name']).min('Peak.position').max('Weeks.on.chart')
billboardHot100 = billboardHot100.groupby(['Artists', 'Name']).agg({'Peak.position':'min', 'Weeks.on.chart':'max'})[['Peak.position','Weeks.on.chart']].reset_index()
billboardHot100 = billboardHot100.applymap(lambda s: s.upper() if type(s) == str else s)
billboardHot100.head(5)

               Artists              Name  Peak.position  Weeks.on.chart
0  "WEIRD AL" YANKOVIC    CANADIAN IDIOT           82.0             3.0
1  "WEIRD AL" YANKOVIC       WORD CRIMES           39.0             2.0
2              'N SYNC       BYE BYE BYE            4.0            23.0
3              'N SYNC              GONE           11.0            24.0
4              'N SYNC  IT'S GONNA BE ME            1.0            25.0

In [4]:
songAttributes = pd.read_csv('data/songAttributes_1999-2019.csv')
songAttributes = songAttributes[['Name', 'Artist', 'Energy', 'Danceability', 'Tempo', 'Valence']]
songAttributes = songAttributes.applymap(lambda s: s.upper() if type(s) == str else s)
songAttributes.head(5)

                Name           Artist  Energy  Danceability    Tempo  Valence
0  WELCOME ALL AGAIN  COLLECTIVE SOUL   0.904         0.520  106.022    0.365
1              FUZZY  COLLECTIVE SOUL   0.709         0.581  120.027    0.408
2                DIG  COLLECTIVE SOUL   0.918         0.572  144.061    0.370
3                YOU  COLLECTIVE SOUL   0.661         0.596  111.975    0.183
4            MY DAYS  COLLECTIVE SOUL   0.808         0.520   92.721    0.666

In [5]:
songAttributes2 = pd.read_csv('data/songAttributesV2.csv')
# songAttributes.columns
songAttributes2 = songAttributes2[['song_title', 'artist', 'energy', 'danceability', 'tempo', 'valence']]
songAttributes2.rename(
    columns={"song_title":"Name", "artist":"Artist"}, inplace=True)
songAttributes2 = songAttributes2.applymap(lambda s: s.upper() if type(s) == str else s)
songAttributes2.head(5)

             Name            Artist  energy  danceability    tempo  valence
0        MASK OFF            FUTURE   0.434         0.833  150.062    0.286
1         REDBONE  CHILDISH GAMBINO   0.359         0.743  160.083    0.588
2    XANNY FAMILY            FUTURE   0.412         0.838   75.044    0.173
3  MASTER OF NONE       BEACH HOUSE   0.338         0.494   86.468    0.230
4  PARALLEL LINES       JUNIOR BOYS   0.561         0.678  174.004    0.904

In [6]:
# grammyAwards.set_index(['Name', 'Artist']).join(songAttributes.set_index(['Name', 'Artist']), how='left').reset_index()
# inProgress = grammyAwards.merge(songAttributes, on=['Name', 'Artist'], how='left').drop_duplicates(subset=['Name'], keep='first')
inProgress = grammyAwards.merge(songAttributes, on=['Name', 'Artist'], how='left').drop_duplicates(subset=['Name', 'Artist'], keep='first')
# inProgress
inProgress.merge(songAttributes2, on=['Name', 'Artist'], how='left')
# grammyAwards.drop_duplicates(subset=['Name'], keep='first')

,Name,Artist,GrammyAward,Energy,Danceability,Tempo,Valence,energy,danceability,tempo,valence
0,'TIL SUMMER COMES AROUND,KEITH URBAN,1,0.629,0.570,127.907,0.308,NaN,NaN,NaN,NaN
1,24 FRAMES,"ASON ISBELL, SONGWRITER",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24K MAGIC,BRUNO MARS,1,0.803,0.818,106.970,0.632,NaN,NaN,NaN,NaN
3,500 MILES HIGH,"CHICK COREA, SOLOIST",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99 PROBLEMS,JAY-Z,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
361,YOU DON'T KNOW MY NAME,ALICIA KEYS,1,0.663,0.263,167.271,0.250,NaN,NaN,NaN,NaN
362,YOU GOT ME,THE ROOTS FEATURING ERYKAH BADU,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,YOU SAY,"LAUREN DAIGLE; LAUREN DAIGLE, JASON INGRAM & P...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,YOU WANT IT DARKER,LEONARD COHEN,1,0.327,0.674,108.995,0.494,NaN,NaN,NaN,NaN
365,YOUR BODY IS A WONDERLAND,JOHN MAYER,1,0.729,0.647,94.010,0.687,NaN,NaN,NaN,NaN

In [36]:
# a = np.array([])
# a = np.append(a, grammyAwards.Artist.unique())
grammyAwards.Artist.unique()
# a = np.append(a, billboardHot100.Artists.unique())
# np.savetxt('myfile.csv', a, delimiter=',', fmt="%s")
# len(a)
# grammyAwards.Artist.unique()

array(['KEITH URBAN', 'ASON ISBELL, SONGWRITER', 'BRUNO MARS',
       'CHICK COREA, SOLOIST', 'JAY-Z', 'MIGUEL', 'LENNY KRAVITZ',
       'CHRISTINA AGUILERA', 'PARAMORE',
       'ENDRICK DUCKWORTH, KAWAN PRATHER, MARK ANTHONY SPEARS & PHARRELL WILLIAMS, SONGWRITERS',
       'KENDRICK LAMAR', 'LALAH HATHAWAY', 'NEIL YOUNG',
       'SYSTEM OF A DOWN', 'LADY GAGA', 'SKRILLEX\xa0FEATURING SIRAH',
       'THE CIVIL WARS', 'WILLI.AM', 'MARY J BLIGE',
       'BONO, ADAM CLAYTON, EDGE, LARRY MULLEN JR), SONGWRITER (U2', 'U2',
       'CARRIE UNDERWOOD', 'SLIPKNOT', 'CHER',
       'HE.R. FEATURING DANIEL CAESAR', 'LITTLE BIG TOWN', 'FANTASIA',
       'DAVID BOWIE', 'JAMIE FOXX & T-PAIN', 'RASCAL FLATTS',
       'TONY BENNETT & AMY WINEHOUSE', 'ELLA MAI', 'GREEN DAY', 'STING',
       'FAITH HILL', 'EVANESCENCE FEATURING PAUL MCCOY',
       'CHRIS STAPLETON', 'ANDERSON PAAK', 'KACEY MUSGRAVES', 'PRINCE',
       'JUSTIN TIMBERLAKE, ANNA KENDRICK, GWEN STEFANI, JAMES CORDEN, ZOOEY DESCHANEL, WALT DOHRN, RON FUNCHES, CAROLINE HJELT, AINO JAWO, CHRISTOPHER MINTZ-PLASSE & KUNAL NAYYAR',
       'ADELE', 'CHRISTIAN MCBRIDE, SOLOIST', 'GEORGE JONES', 'GHOST',
       'ZEDD FEATURING FOXES', 'USHER', 'COLDPLAY', 'KYLIE MINOGUE',
       'SHANIA TWAIN', 'STEELY DAN', 'EMINEM, DR DRE & 50 CENT',
       'SOLANGE', 'LINKIN PARK', 'GNARLS BARKLEY', 'JILL SCOTT',
       'JUSTIN TIMBERLAKE', 'LUTHER VANDROSS',
       'TERENCE BLANCHARD, SOLOIST', 'BEYONCÉ', 'RED HOT CHILI PEPPERS',
       'JOHN MAYER', 'LUPE FIASCO FEATURING JILL SCOTT', 'DIRTY VEGAS',
       'KANYE WEST', 'BRUCE SPRINGSTEEN', 'JUDAS PRIEST',
       'JOHN DAVERSA, SOLOISTREGINA CARTER, SOLOISTFRED HERSCH, SOLOISTBRAD MEHLDAU, SOLOISTMIGUEL ZENÓN, SOLOIST',
       'NORAH JONES', 'THE CHAINSMOKERS FEATURING DAYA', 'JAMES TAYLOR',
       'THE BLACK EYED PEAS', 'ALABAMA SHAKES',
       'LABAMA SHAKES (ZAC COCKRELL, HEATH FOGG, BRITTANY HOWARD & STEVE JOHNSON), SONGWRITERS',
       'TRAIN', 'BEYONCÉ & JAY Z, ARTISTS (BEYONCÉ FEATURING JAY Z)',
       'MEGADETH', 'THE WEEKND', 'IRON MAIDEN', 'HIGH ON FIRE',
       'SILK CITY & DUA LIPA FEATURING DIPLO & MARK RONSON', 'DEFTONES',
       'BURT KEYES & SYLVIA ROBINSON, SONGWRITERS', 'SLAYER',
       'ALICIA KEYS', 'JOHN LEGEND, JOSS STONE WITH VAN HUNT',
       'GORILLAZ FEATURING DE LA SOUL', 'PORTUGAL THE MAN',
       'CEE LO GREEN & MELANIE FIONA', 'TONY BENNETT & STEVIE WONDER',
       'DR DRE FEATURING EMINEM', 'STEVIE WONDER', 'CEE LO GREEN',
       'THE CHEMICAL BROTHERS FEATURING Q-TIP',
       'THE BAND PERRY (KIMBERLY PERRY, NEIL PERRY & REID PERRY), ARTISTS',
       'DAFT PUNK\xa0FEATURING PHARRELL WILLIAMS & NILE RODGERS',
       'LUCINDA WILLIAMS', 'MISSY "MISDEMEANOR" ELLIOTT',
       'ILLARY LINDSEY, LORI MCKENNA & LIZ ROSE, SONGWRITERS',
       'JOHNNY CASH',
       'ONNIE LYNN, CHE SMITH & JOHN STEPHENS, SONGWRITERS',
       'TAMELA MANN; KIRK FRANKLIN, SONGWRITER', 'BLACK SABBATH', 'DRAKE',
       'ALISON KRAUSS', 'KANYE WEST FEATURING T-PAIN', 'DAVE MATTHEWS',
       'RAGE AGAINST THE MACHINE', 'PHARRELL WILLIAMS', 'DAFT PUNK',
       'TONI BRAXTON', 'JOHN LEGEND', 'LOS LONELY BOYS', 'KORN',
       'NO DOUBT', 'OUTKAST', 'FRANCESCA BATTISTELLI, ARTIST',
       'CHICK COREA, SOLOISTS', 'NELLY', 'SARAH JAROSZ',
       'PJ MORTON FEATURING YEBBA', "AULI'I CRAVALHO", 'TIM MCGRAW',
       'NELLY FURTADO', 'GLEN CAMPBELL', 'JASON ISBELL AND THE 400 UNIT',
       'HERBIE HANCOCK, PINK, INDIAARIE, SEAL, KONONO NO 1, JEFF BECK & OUMOU SANGARE',
       'CORINNE BAILEY RAE', 'BB. KING\xa0& DR. JOHN',
       'ALAN JACKSON & JIMMY BUFFETT', 'WHITNEY HOUSTON',
       'JOHN SCOFIELD, SOLOIST',
       'LALAH HATHAWAY, ROBERT GLASPER EXPERIMENT (CASEY BENJAMIN, MARK COLENBURG, ROBERT GLASPER & DERRICK HODGE) & MALCOLM-JAMAL WARNER, ARTISTS',
       'PENTATONIX FEATURING DOLLY PARTON', 'JUNE CARTER CASH',
       'THE TIME JUMPERS', "CHRISTINA AGUILERA, LIL' KIM, MYA & PINK",
       'MAXWELL', 'JACK WHITE, ARTIST', 'IDINA MENZEL', 'BRAD PAISLEY',
       'INDIAARIE', 'LIL WAYNE FEATURING STATIC MAJOR', 'THE BLACK KEYS',
       'EMINEM', 'ERYKAH BADU FEATURING COMMON',
       'KENDRICK LAMAR FEATURING RIHANNA', 'JASON MRAZ & COLBIE CAILLAT',
       'JASON MRAZ', 'MAROON 5', 'SANTANA', 'ST VINCENT', 'TAYLOR SWIFT',
       'LECRAE FEATURING FOR KING & COUNTRY', 'JOHN MCLAUGHLIN, SOLOIST',
       'NE-YO', 'LUDACRIS FEATURING PHARRELL', 'METALLICA',
       'USHER& ALICIA KEYS', 'MAREN MORRIS', 'JAY-Z & KANYE WEST',
       'WA. DONALDSON, SONGWRITER) (JAY-Z & KANYE WEST',
       'LADY ANTEBELLUM',
       'TORI KELLY FEATURING KIRK FRANKLIN; KIRK FRANKLIN & VICTORIA KELLY, SONGWRITERSJEKALYN CARR; ALLEN CARR & JEKALYN CARR, SONGWRITERSKORYN HAWTHORNEJONATHAN MCREYNOLDS FEATURING DOE; JONATHAN MCREYNOLDS & WILL REAGAN, SONGWRITERSBRIAN COURTNEY WILSON; AARON W LINDSEY, ALVIN RICHARDSON & BRIAN COURTNEY WILSON, SONGWRITERS',
       'CECE WINANS; DWAN HILL & ALVIN LOVE III, SONGWRITERS',
       'THEM CROOKED VULTURES', 'VINCE GILL', 'SMOKIE NORFUL',
       'CHANCE THE RAPPER FEATURING LIL WAYNE & 2 CHAINZ', 'DIXIE CHICKS',
       'JAY-Z & SWIZZ BEATZ', 'RIHANNA', 'WAYNE SHORTER, SOLOIST',
       'INDIAARIE\xa0& DOBET GNAHORE', 'GARY CLARK JR',
       'SANTANA\xa0FEATURING EVERLAST', 'IMAGINE DRAGONS',
       'CLEAN BANDIT FEATURING JESS GLYNNE',
       "'ANGELO, GINA FIGUEROA & KENDRA FOSTER, SONGWRITERS",
       'CHILDISH GAMBINO', 'GRETCHEN WILSON', 'AMY WINEHOUSE',
       'CHAMILLIONAIRE FEATURING KRAYZIE BONE', 'LORDE',
       'DAVE GROHL, TAYLOR HAWKINS, RAMI JAFFEE, NATE MENDEL, CHRIS SHIFLETT & PAT SMEAR), SONGWRITERS (FOO FIGHTERS',
       'JAY-Z), ROBYN FENTY, KANYE WEST & ERNEST WILSON, SONGWRITERS (ATHANASIOS ALATAS, SONGWRITER) (JAY-Z, RIHANNA & KANYE WEST',
       "DESTINY'S CHILD",
       'A GREAT BIG WORLD (IAN AXEL & CHAD VACCARINO) & CHRISTINA AGUILERA, ARTISTS',
       'SKRILLEX', 'TOOL', 'MISSY ELLIOTT', 'MAVIS STAPLES',
       'THE WHITE STRIPES', 'JUSTIN TIMBERLAKE\xa0& TIMBALAND',
       'NELLY, P DIDDY & MURPHY LEE', 'LADY GAGA & BRADLEY COOPER',
       'ED SHEERAN', 'DOLLY PARTON', 'JOHN LEGEND & THE ROOTS',
       'KELLY CLARKSON', 'VELVET REVOLVER',
       'SANTANA FEATURING ROB THOMAS', 'SANTANA\xa0FEATURING ROB THOMAS',
       'BEYONCÉ & STEVIE WONDER', 'SADE', 'GOTYE FEATURING KIMBRA',
       'SNARKY PUPPY WITH LALAH HATHAWAY', 'CARRIE UNDERWOOD, ARTIST',
       'BONO, ADAM CLAYTON, EDGE, LARRY MULLEN JR), SONGWRITERS (U2',
       'COMMON FEATURING KANYE WEST', 'SUGARLAND', 'SAM SMITH',
       'BARRY WHITE', 'SHERYL CROW', 'TWENTY ONE PILOTS', 'MASTODON',
       'ALICIA KEYSS', 'JAY-Z & TI. FEATURING KANYE WEST & LIL WAYNE',
       'DAN   SHAY', 'BEYONCÉ & LUTHER VANDROSS', 'EMMYLOU HARRIS',
       'CARLOS SANTANA\xa0& MICHELLE BRANCH', 'MIRANDA LAMBERT',
       'BRANDI CARLILE', 'TENACIOUS D (JACK BLACK & KYLE GASS), ARTISTS',
       'ALISON KRAUSS & UNION STATION', 'FOO FIGHTERS',
       'OUTKAST FEATURING KILLER MIKE',
       'D SHEERAN & AMY WADGE, SONGWRITERS',
       'MACKLEMORE & RYAN LEWIS\xa0FEATURING WANZ',
       'HILLARY SCOTT & THE SCOTT FAMILY; BERNIE HERMS, HILLARY SCOTT & EMILY WEISBAND, SONGWRITERS',
       'LCD SOUNDSYSTEM', 'BRITNEY SPEARS', 'PINK', "D'ANGELO",
       'MARK RONSON FEATURING BRUNO MARS', 'KINGS OF LEON',
       'BONO, ADAM CLAYTON, THE EDGE, LARRY MULLEN, JR), SONGWRITER (U2',
       'DARIUS RUCKER', 'KIRK FRANKLIN; KIRK FRANKLIN, SONGWRITER',
       'AC/DC', 'THE MARS VOLTA', 'MARIAH CAREY',
       'FUN FEATURING JANELLE MONÁE', 'DAMIAN MARLEY',
       'HILLSONG WORSHIP; BEN FIELDING & BROOKE LIGERTWOOD, SONGWRITERS',
       'TI.', 'STING\xa0& MARY J BLIGE', 'MOTÖRHEAD', 'BAHA MEN', 'CREED',
       'WOLFMOTHER', 'HERBIE HANCOCK, SOLOIST', 'ROSANNE CASH, ARTIST',
       'LIL WAYNE', 'JANET JACKSON',
       'KANYE WEST, RIHANNA, KID CUDI & FERGIE', 'LEE ANN WOMACK',
       'MANDY MOORE & ZACHARY LEVI', 'MACY GRAY', 'SARAH MCLACHLAN',
       'RALPH STANLEY', 'CHRIS CORNELL', 'ALAN JACKSON',
       'SKRILLEX AND DIPLO WITH JUSTIN BIEBER',
       'THE ROOTS\xa0FEATURING ERYKAH BADU',
       'LAUREN DAIGLE; LAUREN DAIGLE, JASON INGRAM & PAUL MABURY, SONGWRITERSCORY ASBURY; CORY ASBURY, CALEB CULVER & RAN JACKSON, SONGWRITERSFOR KING & COUNTRY; BEN GLOVER, MATT HALES, STEPHEN BLAKE KANICKA, SETH MOSLEY, JOEL SMALLBONE, LUKE SMALLBONE & TEDD TJORNHOM, SONGWRITERSMERCYME FEATURING JOHN REUBEN; DAVID GARCIA, BEN GLOVER, MERCYME, SOLOMON OLDS & JOHN REUBEN, SONGWRITERSTAUREN WELLS; ETHAN HULSE, JORDAN SAPP & TAUREN WELLS, SONGWRITERS',
       'LEONARD COHEN'], dtype=object)